@import url('https://fonts.googleapis.com/css?family=Satisfy');
body {
    background-color: burlywood;
    font-size: 16px;
    color: black;

}

/*.floatR {*/
    /*margin-top: -5em;*/
    /*margin-left: 25em;*/

/*}*/
.pic {
    /*margin-top: 20em;*/
    /*margin-left: 5em;*/
    height: 75%;
    width: 115%;
}
h1 {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 54px;
    margin-bottom: 0;
}

.align {
    text-align: center;
}
.est {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}
.name {
    font-family: 'Satisfy', cursive;
    font-size: 23px;
}
